.nav {
    justify-content: space-between;
    display: flex;
    margin-top : 10px;
}
.nav h1 {
    font-size: 35px;
    color: blueviolet;
    /* margin-top: 0px; */
}
h1 a {
    color : blueviolet;
    text-decoration: none;
}
.nav ul a {
    cursor: pointer;
}
.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0%;
    padding: 0;
}


.nav li {
    padding-left: 15px;
    padding-top: 15px;
}

.nav li a {
    text-decoration: none;
    color: blueviolet;
}

.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
    border-right: 0px;
}

.nav .nav-search button {
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
    border-left: 0px;
}

.nav .nav-search {
    flex: 1;
    display: flex;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.suggested-result {
    position: absolute;
    display: list-item !important;
    z-index: 10;
    background-color: #fff;
    width: 500px;
    top : 40px;
    border: 1px solid #ddd;
}

.suggested-result li {
    border: 1px solid #fff;

}
/* .searchResults {
    margin-top: 5px;
} */

.listOfProducts {
    cursor: pointer;
}