<div class="row product-details" *ngIf="productData">
  <div class="col-sm-6">
    <img class="product-image" src="{{ productData.image }}" />
  </div>
  <div class="col-sm-6">
    <h1>{{ productData.name }}</h1>
    <h2>Price : {{ productData.price }}</h2>
    <div>
      Color :
      <h5 [style.backgroundColor] ="productData.color" class = "product-color"></h5>
    </div>
    <div>
      <h6>Category : {{ productData.category }}</h6>
      <h6>Category : {{ productData.description }}</h6>
    </div>
    <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to Cart</button>
    <button *ngIf="removeCart" class="form-button" (click)="removeFromCart(productData.id)">Remove from Cart</button>
    <button class="form-button">Buy Now</button>
    <br>
    <div class="quantity-group">
        <button (click) = "adjustQuantity('+')">+</button>
        <input type = "text" value = "{{productQuantity}}" />
        <button (click) = "adjustQuantity('-')">-</button>
    </div>
  </div>
</div>
