h1 {
    color: blueviolet;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
}
.toggle {
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none
}
button:disabled {
    cursor: not-allowed;
}