/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}
.container {
  margin-left: 5%;
  margin-right: 5%;
}


.common-form {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
}


.form-input {
    height: 35px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.form-button {
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
    text-align: center;
}

.error-p{
  color : red;
}
.succes-message-p{
  color : green;

}