.product-image{
    object-fit: contain;
    height : 600px;
    width : 100%;
}

.product-item img {
    width : 150px;
    height : 250px;
    object-fit: contain;
}

.product-list-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
.product-item {
    border: 1px solid #ddd;
    margin-top: 25px;
    margin-bottom: 25px;
}

.product-item img {
    width: 100%;
    height : 250px;
    object-fit: contain;
    padding: 10px;
}
.product-details {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.name-head {
   text-align: center;
   font-weight: 600;
   font-size: 20px;
   margin-bottom: 10px;
}
.product-price h6, .product-color h6 {
    text-align: center;
}
.product-footer {
    justify-content: space-around;
    display: flex;
}
.picsum-img-wrapper {
    margin-top: 20px;
}